.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
.table td,
.table th {
  border-top: 1px solid #ecf0f1;
  padding: 10px;
}
.table td {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
}
.table th {
  background-color: #4ecdc4;
}
.table tr:nth-of-type(even) td {
  background-color: #d9f4f2;
}
.table .total th {
  background-color: white;
}
.table .total td {
  text-align: right;
  font-weight: 700;
}
.mobile-header {
  display: none;
}
@media only screen and (max-width: 760px) {
  .table tr th:first-child,
  .table tr td:first-child {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .table tr th:not(:first-child),
  .table tr td:not(:first-child) {
    width: 50%;
    font-size: 12px;
  }
}

.icon {
  display: inline-block;
  margin-left: 10px;
}

.icon:hover {
  color: #4ecdc4;
  cursor: pointer;
}
